{% extends 'patient_dashboard/base.html' %}
{% block title %}Appointment{% endblock title %}

{% load crispy_forms_tags %}


{% block content %}

<form method="POST" id="appointment" data-doctors-url="{% url 'ajax_load_doctors' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-3">
             <div class="form-group">
                <label for="name">Patient Name</label>
                <input type="hidden" class="form-control" name="patient_id" value="{{user.id}}">
                <input type="text" class="form-control" name="patient_name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
               <label for="age">Age</label>
               <input type="number" class="form-control" name="patient_age">
           </div>
       </div>
        <div class="col-md-3">
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" class="form-control" name="patient_email">
           </div>
       </div>

       <div class="col-md-3">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" name="patient_phone" placeholder="01xxxxxxx">
        </div>
      </div>
      
        
        
    </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="name">Gender</label>
            <select class="form-control" name="patient_gender">
              <option>Please Select the Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </div>
    </div>

        <div class="col-md-3">
            <div class="form-group">
               <label for="name">Doctor</label>
               <select class="form-control" name="doctor_id" id="doctor_id">
                <option>Please Select Doctor</option>
                  {% for doctor in doctors %}
                  <option value="{{doctor.id}}">{{doctor.name}}</option>
                  {% endfor %}


              </select>
           </div>
       </div>

       <div class="col-md-3">
        <div class="form-group">
            <label for="name">Appointment Date</label>
           <input type="date" class="form-control" name="date">
       </div> 
       
   </div>
    </div>
    <button type="submit" class="btn btn-primary">GET an Appointment</button>
</form>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-2">

      <div id="doc_details"  data-doctor-details-url="{% url 'ajax_doctor_details' %}"> 
  


      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#department_id").change(function () {
      var url = $("#appointment").attr("data-doctors-url");  
      var department_id = $(this).val();  

      $.ajax({                      
        url: url,                    
        data: {
          'department_id': department_id       
        },
        success: function (data) {   
          $("#doctor_id").html(data);  
        }
      });

    });

    $("#doctor_id").change(function () {
      var url = $("#doc_details").attr("data-doctor-details-url");  
      var doctor_id = $(this).val();  

      $.ajax({                      
        url: url,                    
        data: {
          'doctor_id': doctor_id       
        },
        success: function (data) { 
          $("#doc_details").html(data);
         
        }
      });

    });

    
    
  </script>


{% endblock content %}



