{% extends 'frontpage/base.html' %}

{% comment %} {% block title %}Patient Registration{% endblock title %} {% endcomment %}

{% load crispy_forms_tags %}
{% comment %} {% block headline %}Patient Registration{% endblock headline %} {% endcomment %}

{% block content %}
<br>
<br>
<br>
<div class="container">
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">{{ register_form.name|as_crispy_field }}</div>
        <div class="col-md-4">{{ register_form.email|as_crispy_field }}</div>
        <div class="col-md-4">{{ register_form.phone|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ register_form.password1|as_crispy_field }}</div>
        <div class="col-md-6">{{ register_form.password2|as_crispy_field }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3"> <button type="submit" class="btn btn-primary btn-block btn-lg">Save Patient</button></div>
        <div class="col-md-4"></div>
    </div>
    {% for error in register_form.errors %}
    <p style="color:red">{{error}}</p>
    {% endfor %}
</form>
</div>

{% endblock content %}
