{% extends 'doctor/base.html' %}
{% block title %}Appointment List{% endblock title %}

{% load crispy_forms_tags %}




{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="row">
        
        <div class="col-md-4">
            <div class="form-group">
               <label for="name">Date</label>
               <input type="date" class="form-control" name="date">
           </div>
       </div>
    </div>
       
    <button type="submit" class="btn btn-primary">Get the list</button>
</form>


{% if appointments %}
<h3 class="text-center">Appointment List</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">List</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Date</th>
        <!-- <th scope="col">Doctor's Name</th>
        <th scope="col">Department</th> -->
        <th scope="col">Serial Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{appointment.patient_name}}</td>
        <td>{{appointment.patient_age}}</td>
        <td>{{appointment.patient_gender}}</td>


        <td>{{appointment.appoinment_date}}</td>
        <!-- <td>{{appointment.doctor_name}}</td>
        <td>{{appointment.department_name}}</td> -->
        <td>{{appointment.serial_number}}</td>
        
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3 class="text-center alert alert-danger" role="alert">No Appointment Found</h3>
  {% endif %}

{% endblock content %}



