{% extends 'doctor/base.html' %}
{% block title %}Doctor Profile Update{% endblock title %}

{% load crispy_forms_tags %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{form.fees|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                        {{form.department|as_crispy_field}}
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{form.bmdc_registration_number|as_crispy_field}}
                   </div>
                    <div class="col-md-6">
                        {{form.doc_image|as_crispy_field}}
                   </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{form.about|as_crispy_field}}
                    </div>
                    <div class="col-md-6">
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}



